* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.ota {
    width: 1160px;
    height: 833px;
    border-radius: 40px;
    background-color: #343C56;


}

h3 {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.fb {
    width: 400px;
    height: 200px;
}

.se {
    width: 400px;
    height: 200px;
}

.rasm {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.bola1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.flb {
    width: 264px;
    height: 118px;
    border-radius: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 50px auto;


}

.flb h2 {
    display: flex;
    justify-content: center;
    align-items: center;


}

.left,
.right {
    width: 400px;
    height: 200px;
    border-radius: 50px;
    background: #EB1616;
display: flex;
justify-content: center;
align-items: center;
}

.qator {
    display: flex;
    justify-content: center;
    gap: 200px;
}

p {
    font-family: Inter;
font-size: 12px;
font-weight: 700;
line-height: 14.52px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 260px;
height: 80px;
background: #61FF00;


}